/* GENERAL CONFIGURATION OF APP */
html {
    color: rgba(27, 28, 57, 0.8) !important;
    font-size: 16px;
}

body {
    overflow-x: hidden;
    font-family: 'Muli', sans-serif;
}

.moo-app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
}

.btn {
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 15px;
    cursor: pointer;
}