.moo-logo-text {
    display: block;
    width: 100%;
}

@media all and (max-width: 768px) {
    .moo-logo-text h4 {
        margin: 0 0 10px;
    }
}

.moo-logo-text h4 {
    font-family: 'Yellowtail', cursive;
    color: rgba(0, 0, 0, 0.8);
}

.moo-logo-text h4 span {
    color: rgba(255, 83, 83, 0.8);
}

.moo-logo-text h4:hover {
    color: rgba(0, 0, 0, 1);
}

.moo-logo-text h4:hover span {
    color: rgba(255, 83, 83, 1);
}

.moo-logo-text h4 sub {
    font-family: 'Roboto', serif;
    font-size: small;
    font-weight: 700;
}